# Byte-compiled / optimized / DLL files
_pycache_/
*.pyc
*.pyo
*.pyd

# Caches
*.db
*.sqlite3
*.log
*.DS_Store

# Virtual environment
venv/
env/
ENV/
v1/
v2/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Secret keys
*.env

# Compiled Python files
*.pyc

# Media files
media/

# Static files
#staticfiles/

# Database
db.sqlite3
.env

# Local development settings
#local_settings.py

# IDE files
.vscode/
.idea/

# Ignore migrations, as these are usually not needed in version control
#**/migrations/
*/migrations/*
users/migrations

# Ignore local configuration files
#**/local_settings.py


# Ignore environment-specific files
*/.local

# Ignore any logs
logs/
*.logSet-ExecutionPolicy RemoteSigned -Scope CurrentUser PS C:\> venv/scripts/activate

